<!DOCTYPE html>
<html>
<head>
  <title>kencrites.com</title>
   <link rel="stylesheet" type="text/css" href="./sample.css">
</head>
        
    <body>
    <div class="wrapper">
        <div class="box header">Ken</div>
        <div class="box sidebar"><p class="sidetitle">Stats</p>
            <table>
                <tr>
                    <td class='tabletext'>Date</td>
                    <td class='tabletext'>3/12/2019</td>
                </tr>
                <tr>
                    <td class='tabletext'>Weight</td>
                    <td class='tabletext'>90</td>
                </tr>
                <tr>
                        <td class='tabletext'>Muscle Mass</td>
                        <td class='tabletext'> 34.2</td>
                </tr>
                <tr>
                        <td class='tabletext'>Fat Level</td>
                        <td class='tabletext' style="font-size: .75em">34.1</td>
                </tr>
                <tr>
                        <td class='tabletext'>BMI</td>
                        <td class='tabletext'>29.1</td>
                </tr>
                <tr>
                        <td class='tabletext'>VV</td>
                        <td class='tabletext'>29.1</td>
                </tr>
                <tr>
                        <td class='tabletext'>Water %</td>
                        <td class='tabletext'>29.1</td>
                </tr>
            </table>

        </div>
        <div class="box content">
           
        <table width="100%">
               <tr>
                    <td colspan='3' class='packtable'><p class="sidetitle">Package Information</p></td>
                </tr>
               <tr>
                 <td class='packtable'>Sessions Used: </td><td>3</td>
                </tr>
               <tr>
                   <td class='packtable'>Sessions left: </td><td>3</td>
                </tr>
              <tr>
                  <td class='packtable'> Package Date: </td><td>3/20/2019</td>
                </tr>
          
       </table>
        </div>
      <div class="box footer footertext">Trainer Information - Help - Admin</div>
      </div>
      </body>
</html>