.sign-in {
    width: 380px;
    display: flex;
    flex-direction: column;


    .title {
        margin: 10px 0;
    }
.buttons {
    display: flex;
    justify-content: space-between;
}
}

.sign-in-error {
    color: red;
    font-size: small;
    font-weight: bold;
    padding-top: 10px;
}