.help-box {
    height: 400px;
}

.pop_button {
    width: 150px;
    height: 40px;
}

.help-title {
    text-align: center;
}

.help-main {
    display: flex;
    flex-direction: column;

    align-items: center;
    position: relative;
}

.help-1 {
    margin-top: 1rem;
}

.help-2 {
    margin: 1rem 1rem;
}