.tableInfo {
  border: 1px solid black;
   border-collapse: collapse;
}

.tableHeader {
	color: blue;
}

.rows {
	text-align: left;
	align-content: left;
}

.packtable {
    text-align: center
}

.error-text-packageinfo {
    font-size: medium;
    font-weight: 600;
    text-align: justify;
    padding: 16px;
  }

  .pack-session-row {
    font-size: .60em;
    font-weight: normal;
    text-align: left;
    /*fw4 = font-weight: 400; */
  }

  ol {
    padding-inline-start: 20px;
  }

 



