.sign-in-and-up {
    width: 400px;
    display: flex;
    // justify-content: space-between;
    align-content: center;
    margin: 30px auto;
}

.sign-in-up-link {
    width: 400px;
    margin: 5px auto;

    .sign-in-up-text {
        cursor: pointer;
        font-weight: 900;
        font-size: .85rem;
        &:hover {
            opacity: .60;
            -webkit-transition: opacity .15s ease-in;
            transition: opacity .15s ease-in;
        }
    }
}
ul li {
list-style-image: url(../../components/logo/arrow_grey.png);
}

