  
/* .sidetitle {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25em;
  margin-bottom: 15px;
  margin-top: 10px;
  text-align: left;
  } */

.sidebar_table {
  width: 100%;
}

.tabletext {
  font-size: .60em;
  font-weight: normal;
  text-align: left;
}
  .sb_title {
    width: 90px
  }


.sidetable:hover {
  background-color: #bdb9b9;
}