
.sidebar_table {
  width: 100%;
}

.tabletext {
  font-size: .60em;
  font-weight: normal;
  text-align: left;
}
  .sb_title {
    width: 90px
  }


.sidetable:hover {
  background-color: #bdb9b9;
}

.error-text-sidebar {
  font-size: medium;
  font-weight: 600;
  text-align: justify;
  padding: 10px;
}