  
.sidetitle {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25em;
  margin-bottom: 15px;
  margin-top: 10px;
  text-align: left;
  }

.tabletext {
  font-size: .75em;
  font-weight: normal;
  text-align: left;
}

.sidetable {
    /* border-bottom: 3px solid rgb(66, 12, 12); */
  }

.sidetable:hover {
  background-color: #bdb9b9;
}