.footer-size {
    background-color: white;
    height: 60px;
    border-bottom: 0px;
}

.footer-text {
    font-size: 1rem; 
    margin: 16px 0px;
    padding: 4px;
    color: black;
    cursor: pointer;

    &:hover {
        opacity: .60;
        -webkit-transition: opacity .15s ease-in;
        transition: opacity .15s ease-in;
    }
}
// Original footer text from tachyons: f5 link dim black  pa1 pointer
