.no-date {
    padding: 16px;
}

.history-table {
    font-size: .875rem;
    width: 75%;
    max-width: 64rem;
}

.history-cell {
    padding: 10px 5px;
    
}

.history-page {
    // padding: 15px 5px;
    padding: 1.25rem;
}

.history-title {
    padding: 10px 0px;
    font-size: 1.5rem;
    font-weight: 700;
}
.delete-text-history {
    font-size: small;
    font-weight: 600;
    padding: 0px 0px 0px 0px;
  }

  .table-div {
      padding-top: 15px;
    
  }

  .training-link {
    cursor: pointer;
    font-size: small;
    text-transform: uppercase;
    font-weight: 600;
    border-style:  black 2px;
    background-color: lightsteelblue;
    padding: 5px 5px 5px 5px
  }

  .self-text {
      font-size: x-small;
      font-weight: bold;
  }

  .self-checkbox{
      margin-left: 5px;
      margin-right: 5px;
  }
// pa3 from tachyons is padding all sides 16px
// lh-copy = line-height: 1.5;