body {
  font-family:  'Open Sans Condensed', sans-serif;;
  /* padding: 20px 60px; from clothing scss*/
  padding: .5em;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

/* .App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
} */

/* .center {
  display: flex;
  justify-content: center;
} */




