.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.wrapper {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: auto auto auto;
        grid-template-areas:
        "header  header  header"
        "sidebar content content"
        "footer  footer  footer";
        background-color: #fff;
        color: #444;
    }


.box {
  background-color: #48487F;
  color: #fff;
  border-radius: 5px;
  padding: 30px;
  font-size: 150%;
}

.header,
.footer {
  background-color: #999;
}
.sidebar {
  grid-area: sidebar;
}

.sidetitle {
    font-size: 1.25em;
    margin-bottom: 15px;
    margin-top: 10px;
    text-align: left;
}

.headertitle {
  font-size: 2em;
  font-weight: 700;
  
}

.content {
  grid-area: content;
  position: relative;
} 
 .footer {
  background-color: #fff;
  color: #000;
}

.topleft {
  position: absolute;
  top: 0;
  left: 0;
}

.tabletext {
    font-size: .75em;
    text-align: left;
}

.footertext {
    font-size: 1em;
}

.packtable {
    text-align: left;
}

.sidetable {
  border-bottom: 3px solid #ddd;
}

tr:hover {background-color: #555555;}
