.package-input-text {
    font-size: medium;
    font-weight: 600;
    text-align: justify;
    padding: 10px;
}

.package-input-form {
	width: 70px;
	background-color: black;
	border-color: black;
	border-width: thick;
}
.package-input-button {
    
    margin: auto;
    display: block;
    width: 30%;
}